*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(98, 101, 104);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
    height: 36rem;
    width: 20rem;
    background-color: rgb(246, 243, 243);
    border-radius: 2rem;
}
.inputs{
    width: 100%;
    height: 8rem;
    margin-top: 0rem;
    padding-top: 4rem;
    padding-right: 1rem;
    border: none;
    background-color: rgb(246, 241, 241);
    /* background-color: aqua; */
    border-radius: 2rem 2rem 0 0;
    text-align: right;
    font-size: xx-large;
   
}
.btns{
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    /* background-color: red; */
    border-radius:  2rem;
}
/* .row{
    margin: 0.8rem ;

} */
button{
    width: 3rem;
    height: 3rem;
   margin: 0.5rem 0.5rem;
   border-radius: 0.8rem;
   border: none;
   font-size: large;
   text-align: center;
   font-weight: 500;
   cursor: pointer;

}
.bgdark{
    background-color: #22252d;
    color: aliceblue;
}
.bgdarkey{
    background-color: #292d36;
    color: aliceblue;
}
.bg{
background-color: #292d36;
}
.darmode{
    width: 6rem;
    margin: 1rem auto;
}
.modebtn{
    width: 5rem;
    height: 2.5rem;
    /* background-color: rgb(251, 250, 250); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.fa-sun-o{
   opacity: 1;
   color: orangered;
}
.fa-moon-o{
   opacity: 0.5;
   color: rgb(0, 0, 0);
}

.opacity1{
    opacity: 1;
    
}
.opacity0{
    opacity: 0.2;
}